.story_title{
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  
  .story_menu{
    align-items: center;
  }
  
  
  .vertical{
    border-left: 1px solid #a9a9a9;
    height: 30px;
  }
  .story_name{
  font-style: 10px;
  }
  .story_name:hover{
    font-weight: 600;
  }
  .block_left{
    width: 740px;
  }
  
  .card_info{
    
    font-size: 14px;
    
  }
  .card{
    width: calc(20% - 20px);
    margin: 10px;
  }
  .card_wrapp{
    margin-top: 30px;
  }
  
  .enter{
    background-color: #F5F5F5;
  }
  .enter_title,
  .enter_txt,
  .enter_btn{
    text-align: center;
    margin-bottom: 20px;
  }
  .enter_txt{
    font-size: 12px;
  }
  .enter_title{
    font-size: 20px;
  }
  .enter_btn{
    border: 1px solid #D3D3D3;
    padding: 10px 70px;
    width: auto;
    background-color: #fff;
    margin: 0 auto;
    text-align: left;
  }
 
 .form_input::placeholder{
    color: #a9a9a9;
    
 }
 .enter_ic{
    background: url(..//..//images/icons/enter_ic.svg);
   display: block;
   width: 10px;
   height: 10px;
    
 }